.call-to-action {
  padding-top: 125px;
  padding-bottom: 120px;
  background-color: #0056b3;
}

.container {
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

.col-xl-8, .col-lg-10 {
  flex: 0 0 auto;
  max-width: 66.67%; /* 8/12 for XL, 10/12 for LG */
  width: 100%;
}

.text-center {
  text-align: center;
}

.cta-content h2 {
  font-size: 2.5rem; /* Adjust size as needed */
  margin-bottom: 20px;
  font-weight: 600;
  color: white;

}

.cta-content p {
  margin-bottom: 30px;
  color: white;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between buttons */
}

.primary-button {
  background-color: #007bff; /* Customize button color */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.primary-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}
